<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <title>Iframe Generator</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/generator.css">
</head>
<body>
    <div class="iframe-generator">
        <h1>Iframe Generator</h1>

        <div class="generate-button">
            <button type="button" class="generateBtn" onclick="generateIframeCode()">Generate Iframe Code</button>
        </div>

        <div class="container">
            <textarea id="iframeCode" readonly></textarea>
            <button class="copy-btn" onclick="copyCode()">Copy Code</button>
        </div>

        <div class="iframe-result">
            <label for="iframeCode">Generated Iframe Code:</label>
            <textarea id="iframeCode" readonly></textarea>
        </div>

        <div class="header-config display-grid">
            <div class="group">
                <label for="titleColor">Title Text Color:</label>
                <input type="color" id="titleColor" value="#2465f2">
            </div>
            <div class="group">
                <label for="titleFontSize">Title Font Size in (PX):</label>
                <input type="number" id="titleFontSize" value="50">
            </div>
        </div>

        <div class="input-field-config display-grid">
            <div class="group">
                <label for="inputBgColor">Background Color:</label>
                <input type="color" id="inputBgColor" value="#fac566">
            </div>
            <div class="group">
                <label for="inputLabelTextColor">Input Label Text Color:</label>
                <input type="color" id="inputLabelTextColor" value="#000">
            </div>
            <div class="group">
                <label for="labelFontSize">Label Font Size in (PX):</label>
                <input type="number" id="labelFontSize" value="12">
            </div>
            <div class="group">
                <label for="borderRadiusInputBg">Border Radius (px):</label>
                <input type="range" min="1" max="50" value="7" id="borderRadiusInputBg">
                <input type="text" id="rangeValue" value="7px" readonly>
            </div>
        </div>
        
        <div class="table-heading-config display-grid">
            <div class="goup">
                <label for="tableHeadingColor">Text Color:</label>
                <input type="color" id="tableHeadingColor" value="#1d1d1f">
            </div>
            <div class="group">
                <label for="tableHeadingFontSize">Font Size in (PX):</label>
                <input type="number" id="tableHeadingFontSize" value="14">
            </div>
        </div>

        <div class="table-body-config display-grid">
            <div class="group">
                <label for="btnBgColor">Button Background Color:</label>
                <input type="color" id="btnBgColor" value="#fac566">
            </div>
            <div class="group">
                <label for="BtnTextColor">Button Text Color:</label>
                <input type="color" id="BtnTextColor" value="#202859">
            </div>
            <div class="group">
                <label for="rateTextColor">Rates Text Color:</label>
                <input type="color" id="rateTextColor" value="#202859">
            </div>
        </div>
    </div>

    <!-- Rate Tool -->
    <div class="header-wrapper">
        <h1 class="header" id="text">Find Your Best Mortgage Rate</h1>
    </div>

    <section id="tableview" overflow="visible"
        class="LayoutRow__Container-sc-ped3g2-0 jevIpP rh-pt-0 rh-pb-0 rh-layout-default rh-max-width-override rh-layout-row box-shadow-none"
        data-toc-title="Best Canada mortgage rates table" data-rh-block="true" style="grid-row: 4;">
        <div class="flex-content">
            <div class="ProductTableBestMortgageRates__Container-sc-17hfzme-0 bIUZVB rh-flex-grow-1 rh-min-width-0">
                <form class="Form__StyledForm-sc-1iwsf1p-0 rh-mt-1" novalidate>
                    <div
                        class="FilteredAsyncContainer__Container-sc-qqj0dt-0 eHbDsC ProductTableMortgageFilteredAsyncContainer__StyledProductTableMortgageFilteredAsyncContainer-sc-1ny7qa5-0 fQzIHw rh-border-radius-4px rh-b-1px-solid-stone">
                        <fieldset class="rh-p-0 rh-border-width-0 filters-container rh-mx-0">
                            <div
                                class="AccordionFilters__Container-sc-p7k4us-0 IZujl rh-p-1 filters rh-bb-1px-solid-stone" id="BgInput">
                                <div class="AccordionBase__Container-sc-uhoj8-0 nAuam">
                                    <div class="flex-container rh-display-flex rh-flex-nowrap">
                                        <div class="flex-left-space grid-container rh-display-grid">
                                            <!-- Transaction Type -->
                                            <div class="mortgage-filter-question-compact rh-text-align-left rh-mt-2 rh-mb-2_5"
                                                aria-hidden="false" duration="500" id="transaction-type">
                                                <label class="label rh-text-m" or="scenario">Transaction
                                                    Type</label>
                                                <span
                                                    class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU error-message-container">
                                                    <div
                                                        class="SelectBase__Container-sc-hp0p13-0 hsBczI is-condensed is-dropdown has-label has-value">
                                                        <span class="select-combobox" id="scenario-toggle-button"
                                                            aria-haspopup="listbox" aria-expanded="false"
                                                            aria-labelledby="scenario-label scenario-toggle-button"
                                                            role="combobox">

                                                            <input type="text" placeholder="Select an option"
                                                                id="scenario" name="scenario"
                                                                class="select-input rh-pr-0_5 rh-pl-1_125 rh-py-0 _ar_hide_"
                                                                readonly required value="Buy a home"
                                                                _ar_hide_="width:218px;height:26.3906px;margin:0px;position:static;display:block;" />

                                                            <button type="button" class="select-open-menu-button"
                                                                data-name="cta-click-toggle-dropdown-menu"
                                                                aria-label="Toggle dropdown menu" tabindex="-1">
                                                                <svg width="10px" height="8px" stroke="#0c5875"
                                                                    viewBox="0 0 13 8" class="icon-chevron">
                                                                    <g stroke-width="1.25" fill="none"
                                                                        fill-rule="evenodd" stroke-linecap="round"
                                                                        stroke-linejoin="round">
                                                                        <polyline
                                                                            points="1 1 6.51129354 7 12 1.02458996">
                                                                        </polyline>
                                                                    </g>
                                                                </svg>
                                                            </button>
                                                        </span>
                                                        <ul class="select-menu" id="scenario-menu" role="listbox"
                                                            aria-labelledby="scenario-label" tabindex="-1">
                                                            <li class="select-option" role="option"
                                                                aria-selected="false" id="scenario-item-0">Buy A Home
                                                            </li>
                                                            <li class="select-option" role="option"
                                                                aria-selected="false" id="scenario-item-1">Renew/Switch
                                                            </li>
                                                            <li class="select-option" role="option"
                                                                aria-selected="false" id="scenario-item-2">Refinance
                                                            </li>
                                                            <!--<li class="select-option" role="option"-->
                                                            <!--    aria-selected="false" id="scenario-item-3">Home equity-->
                                                            <!--    line of credit</li>-->
                                                        </ul>
                                                    </div>
                                                </span>
                                            </div>

                                            <!-- Purpose -->
                                            <div class="mortgage-filter-question-compact rh-text-align-left rh-mt-2 rh-mb-2_5"
                                                aria-hidden="false" duration="500" id="occupancy-bottom">
                                                <label class="label rh-text-m" for="occupancy">Purpose</label>
                                                <span
                                                    class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU error-message-container">
                                                    <div
                                                        class="SelectBase__Container-sc-hp0p13-0 hsBczI is-condensed is-dropdown has-label has-value">
                                                        <span class="select-combobox" id="occupancy-toggle-button"
                                                            aria-haspopup="listbox" aria-expanded="false"
                                                            aria-labelledby="occupancy-label occupancy-toggle-button"
                                                            role="combobox">

                                                            <input type="text" placeholder="Select an option"
                                                                id="occupancy" name="occupancy"
                                                                class="select-input rh-pr-0_5 rh-pl-1_125 rh-py-0 _ar_hide_"
                                                                readonly required value="Owner-occupied"
                                                                _ar_hide_="width:0px;height:0px;margin:0px;position:static;display:block;" />
                                                            <button type="button" class="select-open-menu-button"
                                                                data-name="cta-click-toggle-dropdown-menu"
                                                                aria-label="Toggle dropdown menu" tabindex="-1">
                                                                <svg width="10px" height="8px" stroke="#0c5875"
                                                                    viewBox="0 0 13 8" class="icon-chevron">
                                                                    <g stroke-width="1.25" fill="none"
                                                                        fill-rule="evenodd" stroke-linecap="round"
                                                                        stroke-linejoin="round">
                                                                        <polyline
                                                                            points="1 1 6.51129354 7 12 1.02458996">
                                                                        </polyline>
                                                                    </g>
                                                                </svg>
                                                            </button>
                                                        </span>
                                                        <ul class="select-menu" id="occupancy-menu" role="listbox"
                                                            aria-labelledby="occupancy-label" tabindex="-1">
                                                            <li class="select-option" role="option"
                                                                aria-selected="false" id="occupancy-item-0">Owner-occupied</li>
                                                            <li class="select-option" role="option"
                                                                aria-selected="false" id="occupancy-item-1">Owner-occupied With Rental</li>
                                                            <li class="select-option" role="option"
                                                                aria-selected="false" id="occupancy-item-2">Rental</li>
                                                            <li class="select-option" role="option"
                                                                aria-selected="false" id="occupancy-item-3">Second Home
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </span>
                                            </div>

                                            <!-- Location -->
                                            <div class="mortgage-filter-question-compact rh-text-align-left rh-mt-2 rh-mb-2_5"
                                                aria-hidden="false" duration="500" id="location-bottom">
                                                <label class="label rh-text-m" for="city">Province</label>
                                                <span
                                                    class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU error-message-container">
                                                    <div
                                                        class="SelectBase__Container-sc-hp0p13-0 hsBczI is-condensed has-label has-value is-dropdown">
                                                        <span class="select-combobox" role="combobox"
                                                            aria-haspopup="listbox" aria-owns="city-menu"
                                                            aria-expanded="false">

                                                            <input type="text" placeholder="Enter Province" id="city"
                                                                aria-autocomplete="list" aria-controls="city-menu"
                                                                autocomplete="new" value="Please select your province"
                                                                name="city"
                                                                class="select-input rh-pr-0_5 rh-pl-1_125 rh-py-0 _ar_hide_"
                                                                required data-lpignore="true" readonly
                                                                _ar_hide_="width:0px;height:0px;margin:0px;position:static;display:block;" />
                                                            <button type="button" class="select-open-menu-button"
                                                                data-name="cta-click-toggle-dropdown-menu"
                                                                aria-label="Toggle dropdown menu" tabindex="-1">
                                                                <svg width="10px" height="8px" stroke="#0c5875"
                                                                    viewBox="0 0 13 8" class="icon-chevron">
                                                                    <g stroke-width="1.25" fill="none"
                                                                        fill-rule="evenodd" stroke-linecap="round"
                                                                        stroke-linejoin="round">
                                                                        <polyline
                                                                            points="1 1 6.51129354 7 12 1.02458996">
                                                                        </polyline>
                                                                    </g>
                                                                </svg>
                                                            </button>
                                                        </span>
                                                        <ul class="select-menu" id="city-menu" role="listbox"
                                                            aria-labelledby="city-label">
                                                            <!--<li class="select-option" id="ALL">Select All</li>-->
                                                            <li class="select-option" id="AB">Alberta</li>
                                                            <li class="select-option" id="BC">British Columbia</li>
                                                            <li class="select-option" id="MB">Manitoba</li>
                                                            <li class="select-option" id="NB">New Brunswick</li>
                                                            <li class="select-option" id="NL">Newfoundland and Labrador</li>
                                                            <li class="select-option" id="ON">Ontario</li>
                                                        </ul>
                                                    </div>
                                                </span>
                                            </div>

                                            <!-- HELOC Amount -->
                                            <div class="mortgage-filter-question-compact rh-text-align-left rh-mt-2 rh-mb-2_5 rh-display-none"
                                                aria-hidden="true" duration="500" id="heloc-amount">
                                                <label class="label rh-text-m" for="helocAmount">HELOC Amount</label>
                                                <span
                                                    class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU error-message-container">
                                                    <div
                                                        class="FormattedNumberInput__Container-sc-rlfxbr-0 czaclt has-label has-value is-condensed">

                                                        <input type="text" inputmode="numeric" id="helocAmount"
                                                            name="helocAmount" class="input is-condensed _ar_hide_"
                                                            placeholder="$ Enter amount" required value="$200,000"
                                                            _ar_hide_="width:100%;height:56px;margin:0px;position:static;display:inline-block;" />
                                                    </div>
                                                </span>
                                            </div>

                                            <!-- Current Balance Top -->
                                            <div class="mortgage-filter-question-compact rh-text-align-left rh-mt-2 rh-mb-2_5 rh-display-none"
                                                aria-hidden="true" duration="500" id="current-balance">
                                                <label class="label rh-text-m" for="renewMortgageBalance">Current Mortgage Balance</label>
                                                <span
                                                    class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU error-message-container">
                                                    <div
                                                        class="FormattedNumberInput__Container-sc-rlfxbr-0 czaclt has-label has-value is-condensed">

                                                        <input type="text" inputmode="numeric" id="renewMortgageBalance"
                                                            name="renewMortgageBalance"
                                                            class="input is-condensed _ar_hide_"
                                                            placeholder="$ Enter amount" required value="$350,000"
                                                            _ar_hide_="width:100%;height:56px;margin:0px;position:static;display:inline-block;" />
                                                    </div>
                                                </span>
                                            </div>

                                            <!-- Amortization Top -->
                                            <div class="mortgage-filter-question-compact rh-text-align-left rh-mt-2 rh-mb-2_5 rh-display-none"
                                                aria-hidden="true" duration="500" id="amortization">
                                                <label class="label rh-text-m" for="renewAmortization">Amortization Period</label>
                                                <span
                                                    class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU error-message-container">
                                                    <div
                                                        class="SelectBase__Container-sc-hp0p13-0 hsBczI is-condensed is-dropdown has-label has-value">
                                                        <span class="select-combobox"
                                                            id="renewAmortization-toggle-button" aria-haspopup="listbox"
                                                            aria-expanded="false"
                                                            aria-labelledby="renewAmortization-label renewAmortization-toggle-button"
                                                            role="combobox">

                                                            <input type="text" placeholder="Select an option"
                                                                id="renewAmortization" name="renewAmortization"
                                                                class="select-input rh-pr-0_5 rh-pl-1_125 rh-py-0 _ar_hide_"
                                                                readonly required value="25-year"
                                                                _ar_hide_="width:0px;height:0px;margin:0px;position:static;display:block;" />
                                                            <button type="button" class="select-open-menu-button"
                                                                data-name="cta-click-toggle-dropdown-menu"
                                                                aria-label="Toggle dropdown menu" tabindex="-1">
                                                                <svg width="10px" height="8px" stroke="#0c5875"
                                                                    viewBox="0 0 13 8" class="icon-chevron">
                                                                    <g stroke-width="1.25" fill="none"
                                                                        fill-rule="evenodd" stroke-linecap="round"
                                                                        stroke-linejoin="round">
                                                                        <polyline
                                                                            points="1 1 6.51129354 7 12 1.02458996">
                                                                        </polyline>
                                                                    </g>
                                                                </svg>
                                                            </button>
                                                        </span>
                                                        <ul class="select-menu" id="renewAmortization-menu"
                                                            role="listbox" aria-labelledby="renewAmortization-label"
                                                            tabindex="-1">
                                                            <li class="select-option" role="option"
                                                                aria-selected="false" id="renewAmortization-item-0">
                                                                30-Year
                                                            </li>
                                                            <li class="select-option" role="option"
                                                                aria-selected="false" id="renewAmortization-item-1">
                                                                25-Year
                                                            </li>
                                                            <li class="select-option" role="option"
                                                                aria-selected="false" id="renewAmortization-item-2">
                                                                Less Than 25 Years
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </span>
                                            </div>

                                            <!-- CMHC -->
                                            <div class="mortgage-filter-question-compact rh-text-align-left rh-mt-2 rh-mb-2_5 rh-display-none"
                                                aria-hidden="true" duration="500" id="cmhc-bottom">
                                                <label class="label rh-text-m" for="isCMHC">Do you have CMHC insurance?</label>
                                                <span
                                                    class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU error-message-container">
                                                    <div
                                                        class="SelectBase__Container-sc-hp0p13-0 hsBczI is-condensed is-dropdown has-label has-value">
                                                        <span class="select-combobox" id="isCMHC-toggle-button"
                                                            aria-haspopup="listbox" aria-expanded="false"
                                                            aria-labelledby="isCMHC-label isCMHC-toggle-button"
                                                            role="combobox">

                                                            <input type="text" placeholder="Select an option"
                                                                id="isCMHC" name="isCMHC"
                                                                class="select-input rh-pr-0_5 rh-pl-1_125 rh-py-0 _ar_hide_"
                                                                readonly required value="Yes"
                                                                _ar_hide_="width:0px;height:0px;margin:0px;position:static;display:block;" />
                                                            <button type="button" class="select-open-menu-button"
                                                                data-name="cta-click-toggle-dropdown-menu"
                                                                aria-label="Toggle dropdown menu" tabindex="-1">
                                                                <svg width="10px" height="8px" stroke="#0c5875"
                                                                    viewBox="0 0 13 8" class="icon-chevron">
                                                                    <g stroke-width="1.25" fill="none"
                                                                        fill-rule="evenodd" stroke-linecap="round"
                                                                        stroke-linejoin="round">
                                                                        <polyline
                                                                            points="1 1 6.51129354 7 12 1.02458996">
                                                                        </polyline>
                                                                    </g>
                                                                </svg>
                                                            </button>
                                                        </span>
                                                        <ul class="select-menu" id="isCMHC-menu" role="listbox"
                                                            aria-labelledby="isCMHC-label" tabindex="-1">
                                                            <li class="select-option" role="option"
                                                                aria-selected="false" id="isCMHC-item-0">
                                                                Yes
                                                            </li>
                                                            <li class="select-option" role="option"
                                                                aria-selected="false" id="isCMHC-item-1">
                                                                No
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </span>
                                            </div>

                                            <!-- Current Balance -->
                                            <div class="mortgage-filter-question-compact rh-text-align-left rh-mt-2 rh-mb-2_5 rh-display-none"
                                                aria-hidden="false" duration="500">
                                                <label class="label rh-text-m" for="refinanceMortgageBalance">Current
                                                    mortgage balance</label>
                                                <span
                                                    class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU error-message-container">
                                                    <div
                                                        class="FormattedNumberInput__Container-sc-rlfxbr-0 czaclt has-label has-value is-condensed">

                                                        <input type="text" inputmode="numeric"
                                                            id="refinanceMortgageBalance"
                                                            name="refinanceMortgageBalance"
                                                            class="input is-condensed _ar_hide_"
                                                            placeholder="$ Enter amount" required value="$300,000"
                                                            _ar_hide_="width:100%;height:56px;margin:0px;position:static;display:inline-block;" />
                                                    </div>
                                                </span>
                                            </div>

                                            <!-- Additional Funds -->
                                            <div class="mortgage-filter-question-compact rh-text-align-left rh-mt-2 rh-mb-2_5 rh-display-none"
                                                aria-hidden="false" duration="500" id="additional-funds">
                                                <label class="label rh-text-m" for="additionalFunds">Additional
                                                    Funds Needed</label>
                                                <span
                                                    class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU error-message-container">
                                                    <div
                                                        class="FormattedNumberInput__Container-sc-rlfxbr-0 czaclt has-label has-value is-condensed">

                                                        <input type="text" inputmode="numeric" id="additionalFunds"
                                                            name="additionalFunds" class="input is-condensed _ar_hide_"
                                                            placeholder="$ Enter amount" required value="$0"
                                                            _ar_hide_="width:100%;height:56px;margin:0px;position:static;display:inline-block;" />
                                                    </div>
                                                </span>
                                            </div>

                                            <!-- Purchase Price -->
                                            <div class="mortgage-filter-question-compact rh-text-align-left rh-mt-2 rh-mb-2_5"
                                                aria-hidden="true" duration="500" id="purchase-price">
                                                <label class="label rh-text-m" for="homePrice">Purchase
                                                    Price</label>
                                                <span
                                                    class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU error-message-container">
                                                    <div
                                                        class="FormattedNumberInput__Container-sc-rlfxbr-0 czaclt has-label has-value is-condensed">

                                                        <input type="text" inputmode="numeric" id="homePrice"
                                                            name="homePrice" class="input is-condensed _ar_hide_"
                                                            placeholder="$ Enter amount" required value="$500,000"
                                                            _ar_hide_="width:276px;height:56px;margin:0px;position:static;display:inline-block;" />
                                                    </div>
                                                </span>
                                            </div>

                                            <!-- Percentage in Buying a home-->
                                            <div class="mortgage-filter-question-compact" aria-hidden="true"
                                                id="percentage">
                                                <div class="DownPaymentInput__Container-sc-172ange-0 gSchoi is-inline">
                                                    <span
                                                        class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU input-container error-message-container">
                                                        <span
                                                            class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU percent error-message-container">
                                                            <label class="label rh-text-m"
                                                                for="downPayment.percent">%</label>
                                                            <div
                                                                class="FormattedNumberInput__Container-sc-rlfxbr-0 czaclt has-label has-value is-condensed">

                                                                <input type="text" inputmode="decimal"
                                                                    id="downPayment.percent" name="downPayment.percent"
                                                                    class="input is-condensed _ar_hide_" required
                                                                    value="5"
                                                                    _ar_hide_="width:93.7969px;height:56px;margin:0px;position:static;display:inline-block;" />
                                                            </div>
                                                        </span>
                                                        <span
                                                            class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU dollars error-message-container">
                                                            <label class="label rh-text-m"
                                                                for="downPayment.dollars">Down
                                                                Payment</label>
                                                            <div
                                                                class="FormattedNumberInput__Container-sc-rlfxbr-0 czaclt has-label has-value is-condensed">

                                                                <input type="text" inputmode="numeric"
                                                                    id="downPayment.dollars" name="downPayment.dollars"
                                                                    class="input is-condensed _ar_hide_"
                                                                    placeholder="$ Enter amount" required
                                                                    value="$25,000"
                                                                    _ar_hide_="width:174.203px;height:56px;margin:0px;position:static;display:inline-block;" />
                                                            </div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- Amortization -->
                                            <div class="mortgage-filter-question-compact rh-text-align-left rh-mt-2 rh-mb-2_5"
                                                aria-hidden="false" duration="500" id="amortization-bottom">
                                                <label class="label rh-text-m"
                                                    for="purchaseRefinanceAmortization">Amortization
                                                    Period</label>
                                                <span
                                                    class="ErrorMessageContainer__OuterContainer-sc-nnlx1o-0 gsgFUU error-message-container">
                                                    <div
                                                        class="SelectBase__Container-sc-hp0p13-0 hsBczI is-condensed is-dropdown has-label has-value">
                                                        <span class="select-combobox"
                                                            id="purchaseRefinanceAmortization-toggle-button"
                                                            aria-haspopup="listbox" aria-expanded="false"
                                                            aria-labelledby="purchaseRefinanceAmortization-label purchaseRefinanceAmortization-toggle-button"
                                                            role="combobox">
                                                            <input type="text" placeholder="Select an option"
                                                                id="purchaseRefinanceAmortization"
                                                                name="purchaseRefinanceAmortization"
                                                                class="select-input rh-pr-0_5 rh-pl-1_125 rh-py-0 _ar_hide_"
                                                                readonly required value="25-year"
                                                                _ar_hide_="width:0px;height:0px;margin:0px;position:static;display:block;" />
                                                            <button type="button" class="select-open-menu-button"
                                                                data-name="cta-click-toggle-dropdown-menu"
                                                                aria-label="Toggle dropdown menu" tabindex="-1">
                                                                <svg width="10px" height="8px" stroke="#0c5875"
                                                                    viewBox="0 0 13 8" class="icon-chevron">
                                                                    <g stroke-width="1.25" fill="none"
                                                                        fill-rule="evenodd" stroke-linecap="round"
                                                                        stroke-linejoin="round">
                                                                        <polyline
                                                                            points="1 1 6.51129354 7 12 1.02458996">
                                                                        </polyline>
                                                                    </g>
                                                                </svg>
                                                            </button>
                                                        </span>
                                                        <ul class="select-menu" id="purchaseRefinanceAmortization-menu"
                                                            role="listbox"
                                                            aria-labelledby="purchaseRefinanceAmortization-label"
                                                            tabindex="-1">
                                                            <li class="select-option" role="option"
                                                                aria-selected="false"
                                                                id="purchaseRefinanceAmortization-item-0">30-Year</li>
                                                            <li class="select-option" role="option"
                                                                aria-selected="false"
                                                                id="purchaseRefinanceAmortization-item-1">25-Year</li>
                                                            <li class="select-option" role="option"
                                                                aria-selected="false"
                                                                id="purchaseRefinanceAmortization-item-2">Less
                                                                Than 25
                                                                Years</li>
                                                        </ul>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="items-container">
                            <!-- Best Market Rates -->
                            <div class="ProductTableBestMortgageRatesTable__StyledProductTableBestMortgageRatesTable-sc-m1j7ss-0 fmdDew"
                                aria-hidden="false" style="position: relative;" id="best-market-rates">
                                <table class="best-mortgage-rates-table">
                                    <thead>
                                        <tr class="table-heading">
                                            <th
                                                class="table-header-cell rh-text-s weight-regular rh-fg-stone-darkest rh-text-align-left rh-px-0_75 rh-py-0_25">
                                            </th>
                                            <th
                                                class="table-header-cell rh-text-s weight-regular rh-fg-stone-darkest rh-text-align-left rh-px-0_75 rh-py-0_25">
                                                Term
                                            </th>
                                            <th
                                                class="table-header-cell rh-text-s weight-regular rh-fg-stone-darkest rh-text-align-left rh-px-0_75 rh-py-0_25">
                                                <div class="table-header-tooltip-container">
                                                    Fixed
                                                </div>
                                            </th>
                                            <th
                                                class="table-header-cell rh-text-s weight-regular rh-fg-stone-darkest rh-text-align-left rh-px-0_75 rh-py-0_25">
                                                <div class="table-header-tooltip-container">
                                                    Variable
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Insert Rates -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div style="display:flex;justify-content:center;align-items:center;width:100%;margin-top: 20px">
                <center>
                    These rates are offered by our lender partners and are shown for informational purposes only.
                    <br>
                    To determine if you qualify for these rates, please click APPLY and we will help you discover what the best rates are for your personal situation.
                </center>
            </div>
        </div>
    </section>

    <div class="book-consultation">
        <button
            class="consultation-btn Button__Container-sc-1ap9v74-0 gGua-Dl PrimaryButton__StyledButton-sc-19uohmy-0 jAHvHN blueberry-dark rh-fg-coconut hover--rh-bg-blueberry-dark active--rh-bg-blueberry-darkest focus--rh-bg-blueberry-dark hover--rh-border-color-blueberry-dark active--rh-border-color-blueberry-darkest focus--rh-border-color-blueberry-dark rh-box-sizing-border-box rh-width-100p rh-border-radius-8px rh-border-width-2px rh-outline-none weight-medium rh-min-height-2_5 rh-px-1 rh-py-0_5 rh-font-size-s"
            data-name="BMRTable-main-cta">
            BOOK A CONSULTATION
        </button>
    </div>
    
    <script src="/js/home.js"></script>
    <!-- End Rate Tool -->
    <script src="/js/generator.js"></script>
</body>
</html>
